[buildout]

package-name = rt.zptformfield

parts =  
    instance
    zopepy
    i18ndude
    zopeskel
    test
    omelette

extends = 
    https://raw.github.com/collective/buildout.plonetest/master/plone-4.3.x.cfg

extensions = 
    mr.developer

sources = sources

versions = versions

# Create bin/instance command to manage Zope start up and shutdown
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage

eggs =
    rt.zptformfield
    stxnext.pdb

zcml =
    stxnext.pdb

# zopepy commands allows you to execute Python scripts using a PYTHONPATH 
# including all the configured eggs
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

# create bin/test command
[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance:eggs}

# create ZopeSkel and paster commands with dexterity support
[zopeskel]
recipe = zc.recipe.egg
eggs =
    ZopeSkel
    PasteScript
    zopeskel.dexterity

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

# Version pindowns for new style products go here - this section extends one 
# provided in http://dist.plone.org/release/
[versions]
ZopeSkel = 2.21.2
setuptools=
zc.buildout=

[sources]